.header {
  display: flex;
  align-items: center;
  justify-content: center; /* align search-container to center */
  padding: 10px;
  background-color: #e7d4b8;
}

.header img {
  width: 220px;
  height: auto;
}

.sign-in-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    width: 50%; /* search bar wider */
    margin: 0 auto; /* search bar center */
}

.search-bar {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  width: 100%; /* width 100% */
  margin-right: 10px;
}

.filter-button {
  border: none;
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.listings-container {
  text-align: center; /* align "Listing Cellars for rent" to center */
  margin: 20px 0;
}

.listings-container ul {
  text-align: center;
  display: flex; /* display listings horizontally */
  flex-wrap: wrap; /* allows wrapping */
  justify-content: center; /* center align the list items */
  margin: 0 -5px; /* add negative margin to counter the padding of li items */
}

.listings-container li {
  width: 200px;
  text-align: center;
  padding: 0 5px; /* add small padding between each listing */
  list-style: none; /* remove bullet point */
  margin-right: 100px; /* add margin-bottom to create space */
  line-height: 1.5; /* Adjust line-height as needed*/
}
